*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    background-color: rgb(250, 250, 250);
    color: rgb(40, 40, 40);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-title {
    font-family: 'Inspiration', sans-serif;
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
   
}

.refresh-button {
    display: flex;
    justify-content: center;
    position: relative;
    right: 1rem;
    bottom: 1rem;
    align-items: center;
    background: rgb(21, 59, 85);
    background: linear-gradient(90deg, rgb(21, 59, 85) 0%, rgb(34, 99, 107)100%);
    font-size: 1rem;
    color:rgb(250,250,250);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 3px 3px rgba(43, 43, 43, 0.329);

}

div.refresh-button:hover {
    cursor: pointer;
}

#refresh i {
    transition: all ease-in 0.3s;
}

#refresh i:hover {
    transform: rotate(90deg);
}

div.refresh-button:active {
    box-shadow: 0px 1px 3px rgba(43, 43, 43, 0.329);
}

.random-photo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 1rem;
}

.random-photo {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.329);
    border-radius: 10px;
    padding: 3rem 1rem;
    background: rgb(254,251,230);
    background: radial-gradient(circle, rgb(248, 247, 241) 71%, rgb(241, 237, 219) 100%);
    width: 320px;
    transition: all 0.3s;
}

.like-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 3rem 0;
    width: 320px;
}

.thumbs-up button, .thumbs-down button {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border: none;
    background-color: transparent;
    transition: all ease-in-out 0.1s;
    color: rgb(60, 60 ,60);
    text-shadow: 1px 2px 3px rgba(43,43,43, 0.5);
}

.thumbs-up button:hover {
    color: rgba(1, 168, 124);
    cursor: pointer;
}

.thumbs-down button:hover {
    color: rgb(219, 81, 57);
    cursor: pointer;
}


.thumbs-up button:active, .thumbs-down button:active {
    text-shadow: none;
}

.thumbs-down {
    margin-top: 10px;
}

.counter-box {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 3rem;
    font-weight: bolder;
    box-shadow: 1px 2px 3px rgba(43, 43, 43, 0.5);
    background: rgb(21, 59, 85);
    background: linear-gradient(90deg, rgb(21, 59, 85) 0%, rgb(34, 99, 107)100%);
    color:rgb(240, 240, 240);
    border-radius: 10px;
}

.blinking-red {
    color: rgb(219, 81, 57); 
}

.counter-box span {
    display: flex;
    align-items: center;
}

.reset-bar {
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.reset-button {
    text-decoration: underline;
    font-weight: bold;
    transition: all ease-in 0.3s;
}

span.reset-button:hover {
    cursor: pointer;
    color: rgb(3, 146, 139);
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    flex-grow: 1;
    justify-content: flex-end;
}

footer p {
    padding: 2rem;
}

