*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    background-color: rgb(250, 250, 250);
    color: rgb(40, 40, 40);

}

.page-title {
    font-family: 'Inspiration', sans-serif;
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
}

.random-photo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.random-photo {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(43, 43, 43, 0.329);
    border-radius: 10px;
    padding: 3rem 1rem;
    background: rgb(254,251,230);
    background: radial-gradient(circle, rgb(248, 247, 241) 71%, rgb(241, 237, 219) 100%);
    width: 320px;
    transition: all 0.3s;
}

.like-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2.5rem 0;
    width: 320px;
}

.thumbs button {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    border: none;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
    color: rgb(60, 60 ,60);
    text-shadow: 1px 2px 5px rgba(43,43,43, 0.3);
}

.thumbs button:hover {
    color: rgba(1, 168, 124);
    cursor: pointer;
}

.thumbs button:active {
    text-shadow: none;
}

.down {
    margin-top: 10px;
}

.counter p{
    padding: 1rem 2rem;
    font-size: 3rem;
    font-weight: bolder;
    box-shadow: 1px 2px 3px rgba(43, 43, 43, 0.5);
    background: rgb(57,222,159);
    background: linear-gradient(90deg, rgba(57,222,159,1) 0%, rgb(1, 168, 124) 100%);
    color:rgb(240, 240, 240)
}


.reset-bar {
    width:100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.reset-button {
    text-decoration: underline;
    font-weight: bold;
    transition: all ease-in 0.3s;
}

span.reset-button:hover {
    cursor: pointer;
    color: rgba(1, 168, 124);
}

footer {
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

